<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="jenovaktext" version="1" library="jenovaktext">
    <MenuBar>
        <Menu name="tools">
            <text>&amp;Tools</text>
            <Action name="ai_refactor" />
        </Menu>
    </MenuBar>
    <Menu name="ktexteditor_popup" noMerge="1">
        <Action name="ai_refactor" />
    </Menu>
</gui>
